<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lagra kurser i databas">
    <title>Moment 1</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/menu.js" defer></script>
</head>

<body>
    <header>
        <a href="/" class="web-title">Kurser</a>
        <nav>
            <ul class="nav-menu">
                <li><a href="/">Startsida</a></li>
                <li id="active"><a href="/course">Lägg till kurs</a></li>
                <li><a href="/about">Om</a></li>
            </ul>

            <div class="menu-text">Meny</div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        <h1>Lagra ny kurs</h1>
        <form action="/" method="post">
            <%if (error != "") { %>
                <p> <%= error%> </p>
            <%}%>
            <label for="course_code">Kurskod:</label>
            <br>
            <input type="text" id="course_code" name="course_code" placeholder="DT057G">
            <br>
            <label for="course_name">Kursnamn:</label>
            <input type="text" id="course_name" name="course_name" placeholder="Webbutveckling I">
            <br>
            <label for="syllabus">Kursplan:</label>
            <input type="text" id="syllabus" name="syllabus" placeholder="https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/DT057G/">
            <br>
            <label for="progression">Progression:</label>
            <select name="progression" id="progression">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <br>
            <input type="submit" value="Lägg till ny kurs" id="btn-submit">
        </form>
    </main>

    <footer>
        <ul>
            <li>&copy;Hanin Farhan</li>
            <li>DT207G - Backend-baserad webbutveckling</li>
            <li>Webbutveckling</li>
            <li>Mittuniversitet</li>
        </ul>
    </footer>

</body>

</html>